<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Location</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Controleur</display-name>
		<servlet-name>Controleur</servlet-name>
		<servlet-class>
		location.master.web.Controleur</servlet-class>
		<init-param>
			<param-name>vehicule</param-name>
			<param-value>/admin/vehicule.jsp</param-value>
		</init-param>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ContCatVehicule</display-name>
		<servlet-name>ContCatVehicule</servlet-name>
		<servlet-class>
		location.master.web.ContCatVehicule</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ContReservation</display-name>
		<servlet-name>ContReservation</servlet-name>
		<servlet-class>
		location.master.web.ContReservation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ContCatClient</display-name>
		<servlet-name>ContCatClient</servlet-name>
		<servlet-class>
		location.master.web.ContCatClient</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ContVehicule</display-name>
		<servlet-name>ContVehicule</servlet-name>
		<servlet-class>
		location.master.web.ContVehicule</servlet-class>
	</servlet>
<!--	<servlet>-->
<!--		<description>-->
<!--		</description>-->
<!--		<display-name>kjhkh</display-name>-->
<!--		<servlet-name>kjhkh</servlet-name>-->
<!--		<servlet-class>-->
<!--		location.master.web.kjhkh</servlet-class>-->
<!--	</servlet>-->
<!--	<servlet>-->
<!--		<description>-->
<!--		</description>-->
<!--		<display-name>lll</display-name>-->
<!--		<servlet-name>lll</servlet-name>-->
<!--		<servlet-class>-->
<!--		location.master.web.lll</servlet-class>-->
<!--	</servlet>-->
	<servlet>
		<description>
		</description>
		<display-name>ContUser</display-name>
		<servlet-name>ContUser</servlet-name>
		<servlet-class>
		location.master.web.ContUser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ContClient</display-name>
		<servlet-name>ContClient</servlet-name>
		<servlet-class>
		location.master.web.ContClient</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controleur</servlet-name>
		<url-pattern>/Controleur</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContCatVehicule</servlet-name>
		<url-pattern>/ContCatVehicule</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContReservation</servlet-name>
		<url-pattern>/ContReservation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContCatClient</servlet-name>
		<url-pattern>/ContCatClient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContVehicule</servlet-name>
		<url-pattern>/ContVehicule</url-pattern>
	</servlet-mapping>
<!--	<servlet-mapping>-->
<!--		<servlet-name>kjhkh</servlet-name>-->
<!--		<url-pattern>/kjhkh</url-pattern>-->
<!--	</servlet-mapping>-->
<!--	<servlet-mapping>-->
<!--		<servlet-name>lll</servlet-name>-->
<!--		<url-pattern>/lll</url-pattern>-->
<!--	</servlet-mapping>-->
	<servlet-mapping>
		<servlet-name>ContUser</servlet-name>
		<url-pattern>/ContUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContClient</servlet-name>
		<url-pattern>/ContClient</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	
	 
	<servlet> 
		<servlet-name>Test</servlet-name> 
		<servlet-class>location.master.web.Test</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>Test</servlet-name> 
		<url-pattern>/Test</url-pattern> 
	</servlet-mapping> 
	
</web-app>
